
.Popup {
  position:absolute;
  height:"100%";
  width:"100%";
  background-color:"black";
  opacity:"1";
  border:solid white;
}

.Movie-box {
  border:none;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.Movie-box:hover {
  border:solid white;
  margin-left: "2px";
}

.flip-horizontaly {
  transform: scaleX(-1);
}

.ScrollHori {
  overflow-x: hidden;
  scrollbar-width: none;
}

.ScrollHori::-webkit-scrollbar {
  display: none;
}

.Input-class, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.DropList {
  height: 4cm;
  margin-top:0.3cm;
  overflow: scroll;
  margin-left: -30%;
}

.DropDownItem {
  background-color: #242424; /* Green */
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  padding: 15px 5px;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 100%;
}

.DropDownItem:hover {
  background-color: #3b3b3b; /* Green */
  color: rgb(218, 218, 218);
  overflow: scroll;
}

.NavItem {
  position:absolute;
}

.DropDown {
  margin-top: 0cm;
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-right: 1cm;
}
.input-search{
  height: 50px;
  width: 0px;
  border-style: none;
  padding: 0px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: rgb(14, 13, 13);
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:#f2f2f2;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  margin-top: 0cm;
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5)
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5)
}
.btn-search:focus img {
  transition: all 0.5s;
  transform: rotate(360deg);
}
/* Add a black background color to the top navigation */
.NavBar {
  background-color: #0c0c0c;
  overflow: hidden;
  margin-left: 0em;
  margin-right: 0em;
  height: 3.5cm;
}

/* Style the links inside the navigation bar */
.NavBar a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.NavBar a:hover {
  background-color: #aaa;
  color: black;
}

/* Add a color to the active/current link */
.NavBar a.active {
  background-color: #04AA6D;
  color: white;
}

body {
    background-color: rgb(14, 14, 14);
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}